body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f4f6;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 50px auto;
}

.buttons-container button {
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons-container button:hover {
  background-color: #0056b3;
}

.directory-table-container {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}